<div class="upload-container">
  <button class="close-btn" (click)="close()">
    &times;
  </button>
  <h2>Upload File</h2>
  <form (submit)="onUpload($event)">
    <label for="fileInput" class="upload-label">
      <span class="upload-icon">&#8682;</span>
      <span>Select a file to upload</span>
      <input type="file" id="fileInput" class="upload-input" (change)="onFileSelected($event)" style="display:none;" />
       <span *ngIf="selectedFile">{{selectedFile.name}}</span>
    </label>
   
    <button type="submit" class="upload-btn" [disabled]="!selectedFile">Upload</button>
    <button type="button" class="upload-btn" (click)="fileInput.click()">Browse</button>
    <input #fileInput type="file" style="display:none;" (change)="onFileSelected($event)" />
  </form>
</div>