<style>
  mat-toolbar {
    background-color: #5582b0; /* Example: Material Blue 700 */
    color: white;
  }
</style>
<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> 
  <span style="margin-left: 10px;">Resource AI Assist Dashboard</span>

  <button matIconButton class="example-icon" aria-label="Display skills overview" style="margin-left: 30px;" (click)="navigateToSkillsGraph()">
    <mat-icon>assessment</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Display career graph" style="margin-left: 10px;" (click)="navigateToCareerGraph()">
    <mat-icon>timeline</mat-icon>
  </button>
 <button matIconButton class="example-icon" aria-label="Upload file" style="margin-left: 10px;" (click)="uploadFile()">
    <mat-icon>upload_file</mat-icon>
  </button>

  <span class="example-spacer"></span>

   <button matIconButton class="example-icon logo-icon" aria-label="Example icon-button with logo icon">
     <img src="logo.png" alt="Chatbot Logo"  style="width: 120px;" />
  </button>

  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>

  </button>
 

</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <div style="position: absolute; left: 24px; top: 80px; z-index: 2;margin-left: 150px;
    margin-top: 150px;">
    <img src="chat-bot.png" alt="Chatbot Logo" style="width: 450px;"  />
  </div>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button class="dropdown-btn" (click)="showHistory = !showHistory">
      Chat History
      <i class="fa fa-caret-down" [ngClass]="{'rotated': showHistory}"></i>
    </button>
    <div class="dropdown-container" *ngIf="showHistory">
      <a *ngFor="let chat of chatHistory; let i = index"
         (click)="openChatHistory(chat)" >
        {{ chat.contentType }}
      </a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-active-chat></app-active-chat>
  </div>
</mat-drawer-container>

<router-outlet />
