:host{
    display: block;
}
.user-message-entry-container{
    display: flex;
    justify-content: flex-end;
   
}
.user-message-entry-content{
    width:70%;
    height: 45px;
    padding: 10px;
    border-radius: 10Px;
    background-color: #a8ada5;
    color:white;
    text-align: right;
    display: inline;
    white-space: pre-wrap;
}
.user-message-entry-content p{
    white-space: normal;
    text-align: left;
    margin: 0 ;
    text-indent: 0;
    line-height: 1.4;
    word-break: break-word;
}
.user-reaction-button-container
{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding:10px

}
